@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Consolas', monospace;
  font-size: 14px;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
